
@{
    ViewBag.Greetings = "Welcome Bruh!!";
    ViewBag.Title = "Calculator";
}

@using BasicWebCalcualtor.Models
@model CalculatorModel

<h1>@ViewBag.Greetings</h1>
<h2>@ViewBag.Title</h2>


